@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
body{
    background-image: linear-gradient(165deg, #111111, #df590c, #111111);
    margin: 0;
    padding: 10px;
}
.cabecario img{
    margin-left: 20px;
    height: 60px;
    width: 50px;
}
.cabecario{
    display: flex;
    flex-direction: row;
}
#menu_ul{
    z-index: 9999;
    position: fixed;
    right: -290px;
    top: -10px;
    width: 150px;
    height: 100vh;
    background: #df590c;
    box-shadow: 1px 1px 15px #000000;
    transition: right 0.4s ease; 
    color: #dac7bd;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;

}
#menu_ul li{
    margin-top: 25px;
    list-style: none;
    padding: 20px;
    cursor: pointer;  
}
#menu_ul li:hover{
    background-color: #04465252;
}
#menu{
    background-image: url("list.svg");
    filter: invert(1);
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#menu_ul.abrir {
    right: 0; /* entra suavemente */
}
.fechar{
    background-image: url("x-circle-fill.svg");
    top: 2px;
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
}
h2{
    position: relative;
    color: #9c9c9c;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}
.baner{
    width: 100%;
    height: 200px;
    border: solid 1px #df590c;
    position: relative;
    overflow: hidden;
    z-index: 0;
    border-radius: 12px;
}
.baner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .8s ease;
    z-index: 1;
}
.baner img.ativo {
    opacity: 1;
    z-index: 2;
}
#mapa img{
    margin-left: 20px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    filter: invert(1);
}
#mapa{
    margin-top: 50px;
    /*background-color: #000000;*/

    background: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;


    height: 80px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}
#mapa div{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: -20px;
    height: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#mapa h4 {
  margin: 0;
  font-size: 16px;
  color: aliceblue;
  font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#mapa p {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  color: aliceblue;
  font-family: "Rowdies", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#mapa a {
  display: inline-block; /* fica na linha própria se preferir */
  margin: 0;
  font-size: 13px;
  color: #0cc0df;
  
   
}
.butao{
    border: none;
    background-color: #ff7525;
    box-shadow: 1px 1px 15px #00000048;
    color: #dac7bd;
    padding: 5px 10px;
    border-radius: 7px;
    position: relative;
    margin-top: 10px;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;   
}

.pup_agenda{
    background-color: #df590c;
    box-shadow: 1px 1px 80px #000000;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 9998;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%); /* centraliza */ 
}
.tipo_servico{
    
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tipo_servico{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tipo_servico li{
    list-style: none;
    color: #fa792f;
    font-size: 15px;
    cursor: pointer;
    
}

.tipo_servico li.ativo {
    color: #ffad7d;
    font-weight: bold;
}

.conteudo {
    display: none;
    margin-top: 15px;
    height: auto;            /* para aceitar vários containe */
    flex-direction: column;
    gap: 10px;
}
.conteudo.ativo {
    display: flex;
}

.containe{
    color: aliceblue;
    gap: 40px;
    /*background-color: #000000;*/

    background: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;



    height: 100px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    font-family: "Rowdies", sans-serif;
    font-weight: 100;
    font-style: normal;
}
#premiun{
    margin-left: 35%;
    color: #000000;
    
}
#premiun img{
    position: relative;
    top: 3px;
}
#premiun img:hover{
    rotate: 15deg;
    transition: 0.5s;
}
#premiun:hover{
    
   background-color: #f87b32; 
}
.containe img{
    border-radius: 7px;
    margin-top: 5px;
    margin-left: 5px;
    width: 90px;
    height: 90px;
}
.tempo{
    color: #df590c;
}
.inf{
    margin-top: 20px;
}
.pup_agenda p{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 40px;
    margin-top: 40px;
}
.whats{
    background-color: #111111;
    height: 30px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    left: 100px;
    border-radius: 7px;
    color: aliceblue;
    text-align: center;
    align-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.main{
    color: #df590c;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;

}